@font-face {
    font-family: 'Iron Maiden';
    src: url('maiden.ttf');
  }
  @font-face {
    font-family: 'Robot';
    src: url('RobotInvaders-d9VmR.ttf');
  }
  @font-face {
    font-family: 'SpaceCrusaders1';
    src: url('SpaceCrusaders-x3DP0.ttf');
  }
  @font-face {
    font-family: 'SpaceCrusaders2';
    src: url('SpaceCrusadersItalic-ZV1Zx.ttf');
  }

body {
    margin: 0px;
    background: #010200;
    max-width: 1200px;
    margin-left: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-cadastro-user{
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-cadastro-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 500px;
    margin-top: 40px;  
}

.card-cadastro-user{
    width: 70%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-cadastro-user > h1 {
    color: red;
    font-weight: 700;
    margin: 0;
}

.text-field{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-field > input{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 15px;
    background: #F9F9F9;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.text-field > label{
    color: #adff2f;
    margin-bottom: 10px;
}

.botao-cadastro-user{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    background: #7242C9;
    color: #adff2f;
    letter-spacing: 3px;
    cursor: pointer;
    font-family: 'SpaceCrusaders2'!important;
}

.botao-cadastro-user:hover{
    color: #469DEB;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
}
 select{
    width: 160px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #469DEB;
    border: 2px solid black;
    border-radius: 4px;
  }
 
 select:focus {
    outline: 2px solid #adff2f;
}