@font-face {
  font-family: 'Iron Maiden';
  src: url('maiden.ttf');
}

body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 99;
  border-bottom: 2px solid #7242C9;
}

.logo {
  display: inline-block;
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Iron Maiden'!important;
}


.botao-home {
  text-decoration: none;
  color: greenyellow;
}


.buttons a {
  display: inline-block;
  position: relative;
  background: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  /*10 px no topo e base, 30 px no lado direito e esquerdo*/
  transition: 0.5s;

  padding: 15px;
  border-radius: 2px;
  color: rgb(0, 140, 255);
  margin-left: 10px;

  font-size: 15px;
}

.buttons a:hover {
  letter-spacing: 0.18em;
  /*em = tamanho adaptativo de acordo com o tamanho da tela*/
  background: var(--anima);
  /*"--" serve para chamar variaveis*/
  color: var(--anima);
  box-shadow: 0 0 35px var(--anima);
}

.buttons a:before {
  content: "";
  position: absolute;
  inset: 2px;
  /*2px em todas a direções a posição do elemento*/
  background: #27282c;
}

.buttons a span {
  position: relative;
}

.container {
  position: relative;
  width: 100%;
  height: 91vh;
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 60vw;
  height: 60vh;
  background-color: red;
  border-radius: 5%;
  background-color: rgba(51, 51, 51, 0.9);
  /* Cor de fundo acinzentado e 50% de opacidade */
  border: 2px solid greenyellow;
}

:hover {
  background-color: rgba(51, 51, 51, 1);
}

.texto h1 {
  color: #469DEB;
  font-size: 60px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin-left: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.texto h2 {
  color: #7242C9;
  font-size: 35px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin-left: 5%;
}

.texto p {
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.container4 {
  display: flex;
  width: 80%;
  margin: auto;
}

.footer {
  border-top: 2px solid #7242C9;
  height: 65px;
  width: 100%;
  background-color: #333;
  color: #fff;
}

.footer h4 {
  margin: 0;
}

.footer .container4 {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer .container4 .version {
  font-size: 12px;
  font-weight: 800;
}