@font-face {
    font-family: 'Iron Maiden';
    src: url('maiden.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #27282c;
}

.header {
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 2px solid black;
    z-index: 99;

}

.logo {
    display: inline-block;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Iron Maiden'!important;
}


a {
    display: inline-block;
    position: relative;
    background: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    /*10 px no topo e base, 30 px no lado direito e esquerdo*/
    transition: 0.5s;

    padding: 15px;
    border-radius: 2px;
    color: #FFCC00;
    margin-left: 10px;

    font-size: 15px;
}

a:hover {
    letter-spacing: 0.18em;
    /*em = tamanho adaptativo de acordo com o tamanho da tela*/
    background: var(--anima);
    /*"--" serve para chamar variaveis*/
    color: var(--anima);
    box-shadow: 0 0 35px var(--anima);
}

a:before {
    content: "";
    position: absolute;
    inset: 2px;
    /*2px em todas a direções a posição do elemento*/
    background: #27282c;
}

a span {
    position: relative;
}

.containerPrincipal {
    display: flex;
    height: 100vh;
}

.left-container,
.right-container {
    flex-basis: 50%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.left-container {
    background-color: #27282c;
    border-right: 1px solid black;
}

.right-container {
    background-color: #27282c;
    border-left: 1px solid black;
}

.containerPrincipal h1 {
    font-size: 40px;
    margin-top: 0;
    color: red;
    text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.containerPrincipal h2 {
    font-size: 20px;
    margin-top: 0;
    color: #FFCC00;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#MscExibidas {
    display: flex;
    width: 600px;
    max-height: 600px;
    overflow: hidden;
    color: #FFCC00;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: start;
}

#lista_musica {
    display: flex;
    width: 600px;
    max-height: 600px;
    overflow: hidden;
    color: #FFCC00;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: start;
}

.modificar {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: #FFCC00;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.escolha {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 10px;
    color: #FFCC00;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.containerPrincipal select {
    width: 120px;
    padding: 8px;
    margin-left: 5px;
    margin-right: 1px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: red;
    border: 2px solid black;
    border-radius: 4px;
}

.escolha2 {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 10px;
    color: #FFCC00;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

input {
    width: 70px;
    padding: 8px;
    margin-left: 5px;
    margin-right: 1px;
    font-size: 16px;
    border: none;
    background-color: #333;
    border: 2px solid black;
    color: red;
    border-radius: 4px;
}

.containerPrincipal button {
    padding: 10px 20px;
    font-size: 13px;
    color: red;
    background-color: #333;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
    transition: color 0.3s ease;
    margin-left: 10px;
    text-transform: uppercase;
}

.containerPrincipal button {
    padding: 10px 20px;
    font-size: 13px;
    color: red;
    background-color: #333;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
    transition: color 0.3s ease;
    margin-left: 10px;
    text-transform: uppercase;
}

.containerPrincipal button:hover {
    color: #FFCC00;
}

.containerPrincipal select:focus,
.containerPrincipal input:focus,
.containerPrincipal button:focus {
    outline: 2px solid #FFCC00;
}

#controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    border-radius: 5%;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
}

#controls button {
    width: 80px;
    height: 40px;
    color: red;
    background-color: #333;
    cursor: pointer;
    margin: 5px;
}

#barra-volume {
    width: 100px;
   
}

#duracao {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #FFCC00;
    margin-left: 10px;
}